#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.section{
  width: 50%;
  height: 100vh;
  border: solid black 10px;
}

